<div class="wrapper">
    <header class="header navbar navbar-expand-md row">
        <h2 class="col col-sm-7">RTO Exam Preparation</h2>
        <div class="row col col-sm-5">
            <div class="login-btn col col-sm-6">
                <a href="index.html"><button class="btn-fill"><p>HOME</p></button></a>
            </div>            
            <div class="login-btn col col-sm-6">
                <a href="login.html"><button class="btn-fill"><p>LOGIN</p></button></a>
            </div>
        </div>        
    </header>

<section class="container">
    
        <div class="language"><a href="#">ગુજરાતી માં ફેરવો..</a></div>
        
        <div class="myque">	
            <div class="question">
                <p>1. While driving at nights on city roads, keep your head-lights on a </p>                
                <div class="option">
                    <INPUT TYPE="RADIO" VALUE="A" NAME="aa" checked>
                    <p>Low Beam</p>
                </div>
                <div class="option">
                    <INPUT TYPE="RADIO" VALUE="B" NAME="aa" disabled> 
                    <p>High Beam</p>
                </div>
                <div class="option">
                    <INPUT TYPE="RADIO" VALUE="C" NAME="aa" disabled> 
                    <p>Switch of all lighs</p>
                </div>
            </div>
    
            <div class="question">
                <p>2. What does following sign represent?</p><br>
                <img src=".\images\queimg\bullcardprohibited.jpg">
                <div class="option">
                    <INPUT TYPE="RADIO" VALUE="A" NAME="cc" checked> 
                    <p>Bullock cart prohibited.</p>
                </div>
                <div class="option">
                    <INPUT TYPE="RADIO" VALUE="B" NAME="cc" disabled>
                    <p>Cycle prohibited.</p>
                </div>
                <div class="option">
                    <INPUT TYPE="RADIO" VALUE="C" NAME="cc" disabled> 
                    <p>All vehicles prohibited.</p>
                </div>
            </div>

            <div class="question">
                <p>3. Red Traffic Light Indicates</p>                
                <div class="option">
                    <INPUT TYPE="RADIO" VALUE="A" NAME="bb" disabled> 
                    <p>Vehicles can proceed with cautions</p>
                </div>
                <div class="option">
                    <INPUT TYPE="RADIO" VALUE="B" NAME="bb" checked>
                    <p>Stop the vehicles</p>
                </div>
                <div class="option">
                    <INPUT TYPE="RADIO" VALUE="C" NAME="bb" disabled> 
                    <p>Slow down</p>
                </div>
            </div>
    
            <div class="question">
                <p>4. While you are driving on gradient road you should</p>                
                <div class="option">
                    <INPUT TYPE="RADIO" VALUE="A" NAME="dd" disabled> 
                    <p>Give precendence to the vehicles coming down hill</p>
                </div>
                <div class="option">
                    <INPUT TYPE="RADIO" VALUE="B" NAME="dd" checked>
                    <p>Give precendence to the vehicles going up hill</p>
                </div>
                <div class="option">
                    <INPUT TYPE="RADIO" VALUE="C" NAME="dd" disabled> 
                    <p>Give precendence to the vehicles carrying heavy loads</p>
                </div>
            </div>        
    
            <div class="question">
                <p>5. On a road designed as one way</p>                
                <div class="option">
                    <INPUT TYPE="RADIO" VALUE="A" NAME="ee" disabled> 
                    <p>Parking is prohibited</p>
                </div>
                <div class="option">
                    <INPUT TYPE="RADIO" VALUE="B" NAME="ee" disabled>
                    <p>Overtaking is prohibited</p>
                </div>
                <div class="option">
                    <INPUT TYPE="RADIO" VALUE="C" NAME="ee" checked> 
                    <p>Should not drive in reverse gear</p>
                </div>
            </div>
        </div>
        <hr>
        <div class="content-bottom row">                
            <div class="skip-que col col-md-12">
                <form action="#">
                    <p>GO TO Question : </p><input type="text"/> 
                    <input type="submit" value="Skip"/>
                </form>
            </div>
        </div>
    
</section>

<footer class="footer">
    <h5>coyright &copy 2020,MS-creation</h5>
</footer>

</div>
